<%= bootstrap_form_for(applicant, remote: true) do |f| %>

  <h2>About you</h2>
  <%= f.fields_for :identity do |builder| %>
    <%= render partial: "people/person_fields", locals: { builder: builder } %>
    <hr />
  <% end %>
  <%= f.button("Update", { class:"btn btn-default" }) %>

  <h2>Houshold members</h2>
  <%= f.fields_for :household_members do |builder| %>
    <%= render partial: "people/person_fields", locals: { builder: builder } %>
    <hr />
  <% end %>
  <%= link_to("Add a household member", new_household_member_path, remote: true) %> <br />
  <hr />
  <%= f.button("Update", { class:"btn btn-default" }) %>

  <h2>Your landlords</h2>
  <%= f.fields_for :landlords do |builder| %>
    <%= render partial: "people/person_fields", locals: { builder: builder } %>
    <hr />
  <% end %>
  <%= link_to("Add a landlord", new_landlord_path, remote: true) %> <br />
  <hr />
  <%= f.button("Update", { class:"btn btn-default" }) %>

<% end %>
<hr />
<%= button_to 'Download forms', "/download", { class:"btn btn-default btn-lg" } %>
