<nav class="wizard-container">
  <ul class="wizard-nav">
    <li>
      <a href="#demographic">Demographic Information
        <div class="check">
          <div class="circle"></div>
        </div>
        <div class="progress-line pull-right"></div>
      </a>
    </li>
    <li>
      <a href="#household">Household Information
        <div class="check">
          <div class="circle"></div>
        </div>
        <div class="progress-line pull-left"></div>
        <div class="progress-line pull-right"></div>
      </a>
    </li>
    <li>
    <a href="#residential">Residential History
      <div class="check">
        <div class="circle"></div>
      </div>
      <div class="progress-line pull-left"></div>
      <div class="progress-line pull-right"></div>
    </a>
  </li>
  <li>
    <a href="#income">Income and Employment
      <div class="check">
        <div class="circle"></div>
      </div>
      <div class="progress-line pull-left"></div>
      <div class="progress-line pull-right"></div>
    </a>
  </li>
  <li>
    <a href="#criminal">Criminal History
      <div class="check">
        <div class="circle"></div>
      </div>
      <div class="progress-line pull-left"></div>
      <div class="progress-line pull-right"></div>
    </a>
  </li>
  <li>
    <a href="#other">Other Information
      <div class="check">
        <div class="circle"></div>
      </div>
      <div class="progress-line pull-left"></div>
    </a>
  </li>
</ul>
</nav>

<%= bootstrap_form_for(applicant, remote: true) do |f| %>
  <%
    section_names = %w(
      demographic
      household
      residential
      income
      criminal
      other
    )
    section_names.each_with_index do |section_name, index| %>
      <div id="<%=section_name%>" class="section hide">
        <%= render "main_form/#{section_name}_section", builder: f, applicant: applicant %>
      <hr />
      <%= f.button("Update", { id: "update-button", class:"btn btn-default" }) %>
      <hr />
      <%= render("section_buttons",
                 next_section: section_names[index + 1],
                 previous_section: (section_names[index - 1] if index > 0)) %>
    </div>
  <% end %>
<% end %>
<hr />

<div id="download">
  <%= button_to 'Download forms', "/download", { class:"btn btn-default btn-lg download-forms", id: 'download-button'  } %>
  <%= content_for :javascript do %>
    <%= javascript_tag do %>
      $("#download-button").click(function(e){
        $("#update-button").submit();
        var update = true;
        if ($(document).ajaxError()){
          var update = false;
        }
        if (!update){e.preventDefault();}
      });
    <% end %>
  <% end %>
</div>
<div id="download-warning" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3><span class="glyphicon glyphicon-warning-sign"></span>Important!</h3>
        </div>
      <div class="modal-body">
        <div class="well alert-danger">Remember to proofread the forms for completeness and accuracy after you download them. Do not sign the forms as you will need to do so in front of the building management upon submission.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
