<h2>Income and Employment</h2>

<% applicant.household_members.each do |member| %>
  <h2>
    <%= "#{member.person.description}" %>
  </h2>
  <% member.incomes.each_with_index do |income, index| %>
    <%= bootstrap_form_for(income, remote: true) do |f| %>
      <h3>
        <%= "Income #{index + 1}" %>
      </h3>
      <%= render partial: "incomes/fields", locals: { f: f, income: income } %>
      <%= render "update_and_delete_buttons", f: f %>
      <hr />
    <% end %>
  <% end %>
  <%= link_to("Add an income", {controller: "incomes", action: "create", memberId: member.id}, {remote: true, method: :post}) %> <br />
  <hr />
<% end %>
<hr />