<% section_names = %w(
    demographic
    household
    residential
    income
    criminal
    other
) %>

<%= render "nav", section_names: section_names %>
<%= render "notice" %>

<% section_names.each_with_index do |name, index| %>

  <div id="<%= name %>" class="section hide">
    <%= render "main_form/#{name}_section", applicant: @applicant %>
    <hr />
    <%= render "section_buttons", next_section: section_names[index + 1], previous_section: (section_names[index - 1] if index > 0) %>
  </div>

<% end %>

<hr />

<%= render "download_button" %>
