<h2>Residence history</h2>

<% applicant.residences.each.with_index do |residence, index| %>
  <%= bootstrap_form_for(residence) do |f| %>
      <h3><%= "Residence #{index + 1}" %></h3>
      <%= render partial: "residences/fields", locals: { f: f } %>
      <hr />
      <%= f.button("Update", { class:"btn btn-default" }) %>
  <% end %>
<% end %>
<hr />
<%= link_to("Add a residence", new_residence_path, remote: true) %> <br />
