<%= form_for @applicant do |f| %>
  <%= f.fields_for :identity do |builder|  %>
    <p>
      <%= builder.label :first_name, "First Name" %> <br />
      <%= builder.text_field :first_name %>
    </p>
  <% end %>
  <%= f.button("Update") %>
<% end %>

<%= debug @applicant %>
<%= debug @applicant.identity %>

<%= button_to 'Download forms', "/download" %>
