<%= form_for @applicant do |f| %>
  <%= f.fields_for :identity do |builder|  %>
    <p>
      <%= render partial: "person_form", locals: { builder: builder } %>
    </p>
  <% end %>
  <%= f.button("Update") %>
<% end %>

<%= button_to 'Download forms', "/download" %>
