<p id="notice"><%= notice %></p>

<h1>Available housing forms</h1>

<%= form_for @cart do |f| %>
  <%= f.collection_select :resident_id, Resident.all, :id, :description %>
  <%= f.submit "Change Resident" %>
<% end %>

<h1>Available housing forms</h1>

<% if @resident %>
<p>Current user: <strong><%= @resident.description %></strong></p>
<% end %>

<table>
<% @housing_forms.each do |housing_form| %>
  <tr>
    <td><%= housing_form.name %></td>
    <td><%= button_to 'Add to cart', line_items_path(housing_form_id: housing_form) %></td>
  </tr>
<% end %>
</table>

<div id="cart">
  <%= render @cart %>
</div>

<br />
