<div class="devise_main">
  <h2>Create an account</h2>
  <div class="spacer"></div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true, class: 'simplebox' %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password, class: 'simplebox'%></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: 'simplebox' %></div>

    <div><%= f.submit "Sign up", :class => 'signup-button' %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
