<ul>
  <li>
  <%= employment.person.full_name %>
  </li>
  <li>
  <%= employment.employer_name %>
  </li>
  <li>
  <%= employment.address %>
  </li>
  <li>
  <%= employment.position %>
  </li>
  <li>
  Supervisor: <%= employment.supervisor_name %>
  </li>
  <li>
  From <%= employment.start_date %> to <%= employment.end_date %>
  </li>
</ul>
