<h1>Listing employments</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Employer name</th>
      <th>Supervisor name</th>
      <th>Position</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employments.each do |employment| %>
      <tr>
        <td><%= employment.person_id %></td>
        <td><%= employment.start_date %></td>
        <td><%= employment.end_date %></td>
        <td><%= employment.employer_name %></td>
        <td><%= employment.supervisor_name %></td>
        <td><%= employment.position %></td>
        <td><%= employment.address_id %></td>
        <td><%= employment.phone %></td>
        <td><%= link_to 'Show', employment %></td>
        <td><%= link_to 'Edit', edit_employment_path(employment) %></td>
        <td><%= link_to 'Destroy', employment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employment', new_employment_path %>
