<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @employment.person_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @employment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @employment.end_date %>
</p>

<p>
  <strong>Employer name:</strong>
  <%= @employment.employer_name %>
</p>

<p>
  <strong>Supervisor name:</strong>
  <%= @employment.supervisor_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employment.position %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employment.address_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employment.phone %>
</p>

<%= link_to 'Edit', edit_employment_path(@employment) %> |
<%= link_to 'Back', employments_path %>
