<div class="row">

  <div class="col-md-4">
    <h4>About</h4>
    <% %i(
      first_name
      middle_name
      last_name
      cell_phone
      home_phone
      work_phone
      email
    ).each do |person_attribute| %>
      <%= builder.text_field person_attribute %>
    <% end %>
    <%= builder.text_field :ssn, label: "Social Security Number" %>
  </div>

  <div class="col-md-4">
    <h4>Address</h4>
    <%= builder.fields_for :residence do |residence_builder| %>
      <%= residence_builder.text_field :street, label: "Street Address" %>
      <%= residence_builder.text_field :city %>
      <%= residence_builder.text_field :state %>
      <%= residence_builder.text_field :zip, label: "Zip Code" %>
    <% end %>
  </div>

  <div class="col-md-4">
    <h4>Demographic</h4>
    <%= builder.text_field :dob, label: "Date of Birth" %>
    <% %i(
      race
      citizenship
      nationality
      student_status
      marital_status
      occupation
    ).each do |person_attribute| %>
      <%= builder.text_field person_attribute %>
    <% end %>
  </div>

</div>

<%= builder.check_box :_destroy %>
<%= builder.label :_destroy, "Remove person" %>
