<% no_edit ||= true %>
<% fill ||= true %>

<table class="table application">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Total Fields</th>
      <th>Fillable Fields</th>
      <th>Completed Fields</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @housing_forms.each do |housing_form| %>
    <%
        download_path = download_blank_housing_form_path(housing_form)
        download_path = download_housing_form_path(housing_form) if fill
    %>
    <tr>
      <td><%= housing_form.name %></td>
      <td>
        <% if (housing_form.location) %>
          <button class="btn btn-default btn-xs housing-location-show-map"
            housing-data="<%= {name: housing_form.name, location: housing_form.location }.to_json %>">
            <span class="glyphicon glyphicon-map-marker" title="View on map"></span>
          </button>
        <% end %>
        <%= housing_form.location %>
      </td>
      <td><%= housing_form.field_results(@applicant).count %></td>
      <td><%= housing_form.known_fields(@applicant).count %></td>
      <td><%= housing_form.filled_fields(@applicant).count %></td>
      <% if housing_form.path %>
        <td>
          <a href="<%= download_path %>" class="btn btn-info">
            <span class="glyphicon glyphicon-download-alt"></span>
          </a>
        </td>
      <% else %>
        <td><%= link_to 'PDF unavailable', "#", class: "btn btn-default disabled" %></td>
      <% end %>
      <td><%= link_to 'Show', housing_form %></td>
    </tr>
    <% end %>
  </tbody>
</table>
