<h1>Add a client</h1>

<!--This should be moved to a Help page or something-->

<!--<p>Before beginning, you and your client should gather as much of the following documentation as possible:</p>-->

<!--<ul>-->
<!--  <li>Basic demographic information for each household member;</li>-->
<!--  <li>Up to date contact information where the client can be reached;</li>-->
<!--  <li>Household size and expected apartment unit size;</li>-->
<!--  <li>A complete housing history, with their dates and landlord contact information;</li>-->
<!--  <li>Income sources and amounts for all household members</li>-->
<!--  <li>Applicant’s employment status and employment history, including current and past employers’ contact information</li>-->
<!--  <li>Main financial assets and household expenses;</li>-->
<!--  <li>Criminal history for all household members;</li>-->
<!--  <li>Disability information;</li>-->
<!--  <li>Emergency contacts and personal references.</li>-->
<!--</ul>-->

<!--<p>Before submission:</p>-->

<!--<ul>-->
<!--  <li>Proofread the generated PDF applications to make sure no fields are left blank. Answer “N/A” or “None” when applicable.</li>-->
<!--  <li>Avoid dating or signing the application until its submission.</li>-->
<!--</ul>-->

<p>
  Let's start with a few basics to help plan this application. Don't worry, these answers can be changed later on.
</p>

<div class="row">
  <div class="col-md-8">
    <%= bootstrap_form_tag(url: '/applicants') do |f| %>

      <%= f.text_field :first_name, label: "My client's first name is:" %>

      <%= f.text_field :last_name,  label: "My client's last name is:"  %>

      <%= f.text_field :household_member_count, label: "This many other people are part of my client's household:" %>

      <%= f.text_field :residence_count, label: "In the past two years, my client has lived in this many residences:" %>

      <%= f.text_field :income_count, label: "My client's household has this many different income sources:" %>

      <%= f.text_field :employment_count, label: "In the past two years, my client's household has held this many jobs:" %>

      <%= f.submit "Submit", :class => 'btn btn-success'  %>

      <a class="btn btn-danger" href="/">Cancel</a>

    <% end %>
  </div>

<!--I've commented this out. Should also go in Help page-->
<% if false %>
  <div class="col-md-4">
    <em>What's an income source?</em>

    <p>
      An income source is any of the following:
    </p>
    <ul>
      <% Constants::IncomeType.all.each do |i| %>
        <li><%= i.name_form %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
</div>


