<h1>Before you begin</h1>

<p>The application process is lengthy.  You may want to gather as much of the following documentation as you can.</p>

<ul>
  <li>Demographic information about the applicant, including social security numbers and driver license/ID numbers</li>
  <li>Up to date contact information where the applicant can be reached</li>
  <li>Size of the household and expected apartment unit size</li>
  <li>Demographic information all the applicant’s household members, including social security numbers and driver license/ID numbers</li>
  <li>Complete housing history, including contact information of current and past landlords, as well as move-in and move-out dates</li>
  <li>Sources and amounts of income for the applicant and all the other household members</li>
  <li>Applicant’s employment status and employment history, including current and past employers’ contact information</li>
  <li>Main financial assets and household expenses</li>
  <li>Criminal history of the applicant and all the other household members</li>
  <li>Disability information</li>
  <li>Emergency contacts and personal references</li>
</ul>

<p>Before submission:</p>

<ul>
  <li>Always proofread the generated PDF applications to check if anything is missing. Do not leave any fields blank: Answer “N/A” or “None” when applicable.</li>
  <li>Do not fill out the date at the top of the application and ensure that the applicant does not sign the application. The applicant should only sign when they submit the application in front of the building management, who will then write in the date the application was received.</li>
</ul>

<p>
  Let's start with a few questions to help plan your application.  Don't worry, you can change these answers later.
</p>

<div class="row">
  <div class="col-md-8">
    <%= bootstrap_form_tag(url: '/applicants') do |f| %>

      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>

      <p>
      What is the total number of people in your household, including yourself?
      </p>

      <%= f.text_field :household_member_count %>

      <p>
      How many residences have you had in the past two years, including your current residence?
      </p>

      <%= f.text_field :residence_count %>

      <p>
      How many sources of income do you and your household members have, combined?
      </p>

      <%= f.text_field :income_count %>

      <p>
      How many jobs have you and your household members had in the past two years?
      </p>

      <%= f.text_field :employment_count %>


      <%= f.submit 'Get started' %>
    <% end %>
  </div>

  <div class="col-md-4">
    <em>What's an income source?</em>

    <p>
      An income source is any of the following:
    </p>
    <ul>
      <% Constants::IncomeType.all.each do |i| %>
        <li><%= i.name_form %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'Back', home_index_path %>
