<h1>Before you begin</h1>

<p>The application process is lengthy.  You may want to gather as much of the following documentation as you can.</p>

<ul>
  <li>Demographic information about the applicant, including social security numbers and driver license/ID numbers</li>
  <li>Up to date contact information where the applicant can be reached</li>
  <li>Size of the household and expected apartment unit size</li>
  <li>Demographic information all the applicant’s household members, including social security numbers and driver license/ID numbers</li>
  <li>Complete housing history, including contact information of current and past landlords, as well as move-in and move-out dates</li>
  <li>Sources and amounts of income for the applicant and all the other household members</li>
  <li>Applicant’s employment status and employment history, including current and past employers’ contact information</li>
  <li>Main financial assets and household expenses</li>
  <li>Criminal history of the applicant and all the other household members</li>
  <li>Disability information</li>
  <li>Emergency contacts and personal references</li>
</ul>

<p>Before submission:</p>

<ul>
  <li>Always proofread the generated PDF applications to check if anything is missing. Do not leave any fields blank: Answer “N/A” or “None” when applicable.</li>
  <li>Do not fill out the date at the top of the application and ensure that the applicant does not sign the application. The applicant should only sign when they submit the application in front of the building management, who will then write in the date the application was received.</li>
</ul>

<%= bootstrap_form_tag(url: '/applicants') do |f| %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.submit 'Create new applicant' %>
<% end %>

<%= link_to 'Back', home_index_path %>
