<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li><%= link_to current_user.email, root_path %></li>
  <li><%= @applicant.description %></li>
</ol>

<h2>Applicant</h2>
<div class="row">
  <div class="col-md-4">
    <%= render partial: 'people/summary', locals: { person: @applicant.identity } %>
    <%= link_to "Edit", edit_person_path(@applicant.identity), class: "btn btn-info"%>
  </div>
</div>

<h2>Household members</h2>
<div class="row">
  <% @applicant.household_members_people.each do |h| %>
    <div class="col-md-4">
      <p>
      <%= render partial: 'people/summary', locals: { person: h } %>
      <%= link_to "Edit", edit_person_path(h), class: "btn btn-info"%>
      <%= link_to 'Delete', h, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <%= link_to "New", new_household_member_path, class: "btn btn-success"%>
    </p>
  </div>
</div>

<h2>Residence history</h2>
<div class="row">
  <% @applicant.residences.each do |r| %>
    <div class="col-md-4">
      <p>
      <%= render partial: 'residences/summary', locals: { residence: r } %>
      <%= link_to "Edit", edit_residence_path(r), class: "btn btn-info"%>
      <%= link_to 'Delete', r, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <%= link_to "New", new_residence_path, class: "btn btn-success"%>
    </p>
  </div>
</div>

<h2>Income</h2>
<div class="row">
  <div class="col-md-6">
  <% @applicant.incomes.each do |i| %>
    <p>
      <%= render partial: "incomes/summary", locals: { income: i } %>
      <%= link_to "Edit", edit_income_path(i), class: "btn btn-info"%>
      <%= link_to 'Delete', i, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
  <p>
  <%= link_to "New", new_income_path, class: "btn btn-success"%>
  </p>
  </div>
</div>

<h2>Employment</h2>
<div class="row">
  <% @applicant.employments.each do |e| %>
    <div class="col-md-4">
    <p>
    <%= render partial: "employments/summary", locals: { employment: e } %>
    <%= link_to "Edit", edit_employment_path(e), class: "btn btn-info"%>
    <%= link_to 'Delete', e, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <%= link_to "New", new_employment_path, class: "btn btn-success"%>
    </p>
  </div>
</div>

<h2>Criminal history</h2>
<div class="row">
  <% @applicant.criminal_histories.each do |e| %>
    <div class="col-md-4">
    <p>
    <%= render partial: "criminal_histories/summary", locals: { criminal_history: e } %>
    <%= link_to "Edit", edit_criminal_history_path(e), class: "btn btn-info"%>
    <%= link_to 'Delete', e, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
    <%= link_to "New", new_criminal_history_path, class: "btn btn-success"%>
    </p>
  </div>
</div>
