<%= render 'breadcrumb' %>

<h1><%= @applicant.identity %> <small>Applicant Overview</small></h1>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @applicant.identity %>
      </div>
      <%= render partial: 'identity/summary', locals: { person: @applicant.identity } %>
      <div class="panel-footer">
        <%= link_to "Edit", edit_identity_path(@applicant), class: "btn btn-info"%>
      </div>
    </div>
  </div>
  <div class="col-md-8">
  <!--  <%= render 'applicant_status' %>-->
    <%= render 'form_preview' %>
  </div>
</div>

<h2>Household members <%= link_to "Add", new_applicant_household_member_path(@applicant), class: "btn btn-success"%> </h2>
<div class="row">
  <% @applicant.household_members.each do |h| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= h.person %>
        </div>
        <%= render partial: 'household_members/summary', locals: { household_member: h } %>
        <div class="panel-footer">
          <%= link_to "Edit", edit_path(h), class: "btn btn-info"%>
          <%= link_to 'Delete', basic_path(h), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2>Residence history <%= link_to "Add", new_applicant_residence_path(@applicant), class: "btn btn-success"%></h2>
<div class="row">
  <% @applicant.residences.each do |r| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= r %>
        </div>
        <%= render partial: 'residences/summary', locals: { residence: r } %>
        <div class="panel-footer">
          <%= link_to "Edit", edit_path(r), class: "btn btn-info"%>
          <%= link_to 'Delete', basic_path(r), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2>Employment <%= link_to "Add", new_applicant_employment_path(@applicant), class: "btn btn-success"%></h2>
<div class="row">
  <% @applicant.employments.each do |e| %>
    <div class='col-md-4'>
      <div class='panel panel-default'>
        <%= render partial: 'employments/summary', locals: { employment: e } %>
        <div class="panel-footer">
          <%= link_to 'Edit', edit_path(e), class: "btn btn-info"%>
          <%= link_to 'Delete', basic_path(e), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2>Income <%= link_to "Add", new_applicant_income_path(@applicant), class: "btn btn-success"%></h2>
<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>
        Earned by
      </th>
      <th>
        Amount
      </th>
      <th>
        Interval
      </th>
      <th>
        Source
      </th>
    </tr>
  <% @applicant.incomes.each do |income| %>
    <tr>
      <td>
        <%= income.person %>
      </td>
      <td>
        <%= number_to_currency(income.amount) %>
      </td>
      <td>
        <%= income.interval %>
      </td>
      <td>
        <%= income.source %>
      </td>
      <td>
      <%= link_to "Edit", edit_path(income), class: "btn btn-info"%>
      </td>
      <td>
      <%= link_to 'Delete', basic_path(income), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<h2>Criminal history <%= link_to "Add", new_applicant_criminal_history_path(@applicant), class: "btn btn-success"%></h2>
<div class="row">
  <% @applicant.criminal_histories.each do |e| %>
    <div class="col-md-4">
      <div class='panel panel-default'>
        <%= render partial: "criminal_histories/summary", locals: { criminal_history: e } %>
        <div class="panel-footer">
          <%= link_to "Edit", edit_path(e), class: "btn btn-info"%>
          <%= link_to 'Delete', basic_path(e), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2>Contacts <%= link_to "Add", new_applicant_contact_path(@applicant), class: "btn btn-success"%></h2>
<div class="row">
  <% @applicant.contacts.each do |e| %>
    <div class="col-md-4">
      <div class='panel panel-default'>
        <%= render partial: "contacts/summary", locals: { contact: e } %>
        <div class="panel-footer">
          <%= link_to "Edit", edit_path(e), class: "btn btn-info"%>
          <%= link_to 'Delete', basic_path(e), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!--<%= link_to 'Select Buildings to Apply To', housing_forms_path, class: "btn btn-lg btn-primary" %>-->
