<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li><%= link_to current_user.email, root_path %></li>
  <li><%= @applicant.description %></li>
</ol>

<div class="row">
  <h2>Applicant</h2>
  <%= render partial: 'people/summary', locals: { person: @applicant.identity } %>
  <%= link_to "Edit", edit_person_path(@applicant.identity), class: "btn btn-info"%>
</div>

<%= render partial: 'household' %>
<%= render partial: 'structure', locals: { path: "new_household_member_path" } %>


<%= render partial: 'residence' %>
<%= render partial: 'structure', locals: { path: "new_residence_path" } %>

<%= render partial: 'income' %>
<%= render partial: 'structure', locals: { path: "new_income_path" } %>


<%= render partial: 'employment' %>
<%= render partial: 'structure', locals: { path: "new_employment_path" } %>

<%= render partial: 'criminal_history' %>
<%= render partial: 'structure', locals: { path: "new_criminal_history_path" } %>
