<%= bootstrap_form_for(@housing_form) do |f| %>
  <% if @housing_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@housing_form.errors.count, "error") %> prohibited this housing_form from being saved:</h2>

      <ul>
      <% @housing_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.text_field :location %>
  <%= f.file_field :new_form, label: "Replace PDF" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
