<h1>Housing Locations</h1>
<h1><small>You can apply to live at these places</small></h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @housing_forms.each do |housing_form| %>
  <tr>
    <td><%= housing_form.name %></td>
    <td><%= housing_form.location %></td>
    <td><%= housing_form.lat %></td>
    <td><%= housing_form.long %></td>
    <td><%= link_to 'Show', housing_form %></td>
    <td><%= link_to 'Edit', edit_housing_form_path(housing_form) %></td>
    <td><%= link_to 'Delete', housing_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a housing form', new_housing_form_path, class: "btn btn-lg btn-default" %>
