<p id="notice"><%= notice %></p>

<div class="col-md-6">

  <p>
    <b>Name:</b>
    <%= @housing_form.name %>
  </p>

  <p>
    <b>Location:</b>
    <%= @housing_form.location %>
  </p>

  <p>
    <b>Latitude:</b>
    <%= @housing_form.lat %>
  </p>

  <p>
    <b>Longitude:</b>
    <%= @housing_form.long %>
  </p>

  <%= link_to 'Edit', edit_housing_form_path(@housing_form) %> |
  <%= link_to 'Back', housing_forms_path %>

</div>

<div class="col-md-6">

  <table class="table table-condensed">
    <tr>
      <th>
        Fields
      </th>
      <th>
        Value for <%= @applicant.identity.full_name %>
      </th>
    </tr>
    <% @housing_form.form_fields.each do |field| %>
      <% value = @applicant.value_for_field(field.name).to_s
      row_style = value.empty? ? "" : "success"
    %>

      <tr class="<%= row_style%>">
        <td>
          <%= field.name %>
        </td>
        <td>
          <%= value %>
        </td>
      </tr>
    <% end %>
  </table>

</div>
