<p id="notice"><%= notice %></p>

<div class="col-md-6">

  <p>
    <b>Name:</b>
    <%= @housing_form.name %>
  </p>

  <p>
    <b>Location:</b>
    <%= @housing_form.location %>
  </p>

  <%= link_to 'Download filled', download_housing_form_path(@housing_form) %> |
  <%= link_to 'Download blank', download_blank_housing_form_path(@housing_form) %> |
  <% unless @housing_form.is_external? %>
    <%= link_to 'Edit', edit_housing_form_path(@housing_form) %> |
  <% end %>
  <%= link_to 'Back', housing_forms_path %>

  <%= render "field_table", fields: @housing_form.known_fields(@applicant) %>

</div>

<div class="col-md-6">
  <%= render "unknown_field_table", fields: @housing_form.unknown_fields(@applicant) %>
</div>
