<%= f.fields_for :person do |p| %>
  <div class="row">
    <div class="col-md-4">
      <h4>Household Member</h4>
      <%= render 'people/name', builder: p %>
      <%= render "people/contact", builder: p %>
      <%= p.text_field :ssn, label: "Social security number" %>
      <%= f.text_field :relationship, label: "Relationship to you" %>
    </div>

    <div class="col-md-4">
      <h4>Mail Address</h4>
      <%= p.fields_for :mail_address do |m| %>
        <%= render "addresses/fields", builder: m %>
      <% end %>
    </div>

    <div class="col-md-4">
      <h4>Demographic</h4>
      <%= render "people/demographic", builder: p %>
    </div>
  </div>
<% end %>