<ol class="breadcrumb">
  <li><%= link_to current_user.email, root_path %></li>
  <li><%= link_to @current_applicant.description, @current_applicant %></li>
  <li><%= @income %></li>
</ol>

<%= render 'section_tabs' %>

<%= bootstrap_form_for(@income) do |f| %>

  <%= render "fields", f: f %>

  <%= render "buttons_update_back", f: f %>
<% end %>
