<%= f.fields_for :person do |p| %>
  <div class="row">
    <div class="col-md-4">
      <h4>Contact</h4>
      <%= render 'people/name', builder: p %>
      <%= render "people/contact", builder: p %>
      <%= f.text_field :relationship, label: "Relationship to you" %>
      <%= 
        f.select :contact_type, Contact::CONTACT_TYPES.map {|ct| [ct[:name], ct[:value]]}, {include_blank: true, label: "Type of contact (emergency, reference, etc.)"}
      %>
    </div>

    <div class="col-md-4">
      <h4>Contact Mailing Address</h4>
      <%= p.fields_for :mail_address do |m| %>
        <%= render "addresses/fields", builder: m %>
      <% end %>
    </div>

  </div>
<% end %>