<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @building.name %>
</p>

<p>
  <b>Address:</b>
  <%= @building.address %>
</p>


<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
