<h1>Listing salesforce_applicants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salesforce_applicants.each do |salesforce_applicant| %>
      <tr>
        <td><%= salesforce_applicant.name %></td>
        <td><%= link_to 'Show', salesforce_applicant %></td>
        <td><%= link_to 'Edit', edit_salesforce_applicant_path(salesforce_applicant) %></td>
        <td><%= link_to 'Destroy', salesforce_applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salesforce applicant', new_salesforce_applicant_path %>
