<div class="devise_main">
  <h2>Sign in to District Housing</h2>
  <div class="spacer"></div>

  <% unless User.where(email: "testuser@districthousing.org").empty? %>
    <p>
    Psst, hey you!  This app is under development.  You can log in with a
    pre-filled account and poke around, or create a new account if you like. The
    test account login is as follows:
    </p>
    <p>
    Login: testuser@districthousing.org
    </p>
    <p>
    Password: password
    </p>
    <p>
    Add some issues or send some pull requests to 
    <a href="https://github.com/codefordc/districthousing/issues">our Github!</a>
    And check out <a href="http://codefordc.org/">Code for DC!</a>
    </p>
  <% end %>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true, class: 'simplebox' %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password, class: 'simplebox' %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in", :class => 'signup-button' %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
