<%= form_for(@resident) do |f| %>
  <% if @resident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resident.errors.count, "error") %> prohibited this resident from being saved:</h2>

      <ul>
      <% @resident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :ssn %><br />
    <%= f.text_field :ssn %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.datetime_select :dob %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :res_street_address %><br />
    <%= f.text_field :res_street_address %>
  </div>
  <div class="field">
    <%= f.label :res_apt %><br />
    <%= f.text_field :res_apt %>
  </div>
  <div class="field">
    <%= f.label :res_city %><br />
    <%= f.text_field :res_city %>
  </div>
  <div class="field">
    <%= f.label :res_state %><br />
    <%= f.text_field :res_state %>
  </div>
  <div class="field">
    <%= f.label :res_zip %><br />
    <%= f.text_field :res_zip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
