<h1>Listing residents</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Middle name</th>
    <th>SSN</th>
    <th>DOB</th>
    <th>Gender</th>
    <th>Mailing Street Address</th>
    <th>Mailing Apt</th>
    <th>Mailng City</th>
    <th>Mailng State</th>
    <th>Mailing Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @residents.each do |resident| %>
  <tr>
    <td><%= resident.first_name %></td>
    <td><%= resident.last_name %></td>
    <td><%= resident.middle_name %></td>
    <td><%= resident.ssn %></td>
    <td><%= resident.dob %></td>
    <td><%= resident.gender %></td>
    <td><%= resident.res_street_address %></td>
    <td><%= resident.res_apt %></td>
    <td><%= resident.res_city %></td>
    <td><%= resident.res_state %></td>
    <td><%= resident.res_zip %></td>
    <td><%= link_to 'Assist with Applications', resident %></td>
    <td><%= link_to 'Fill all applications', fill_all_forms_resident_path(resident) %></td>
    <td><%= link_to 'Edit', edit_resident_path(resident) %></td>
    <td><%= link_to 'Remove', resident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Resident', new_resident_path %>

<p>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
</p>
