<h1>Resident: <%= @resident.first_name %> <%= @resident.last_name %></h1>

<p id="notice"><%= notice %></p>

<%= form_tag "http://192.241.132.194:8080/fill" do %> 
<b><%= label_tag(:pdf, "Select a Building to Apply For:") %></b>
<%= select_tag(:pdf, options_for_select([ ['Bening Heights','http://192.241.132.194:8080/housing-apps/BenningHeights2013.pdf'],['Hedin House','http://192.241.132.194:8080/housing-apps/HedinHouse05-12.pdf'] ])) %>

<p>
  <b><%= label_tag(:FirstName, "First Name:") %></b>
  <%= text_field_tag(:FirstName, @resident.first_name) %>
</p>

<p>
  <b><%= label_tag(:MiddleName, "Middle Name:") %></b>
  <%= text_field_tag(:MiddleName, @resident.middle_name) %>
</p>

<p>
  <b><%= label_tag(:last_name, "Last Name:") %></b>
  <%= text_field_tag(:LastName, @resident.last_name) %>
</p>

<p>
  <b><%= label_tag(:SSN, "Social Security Number:") %></b>
  <%= text_field_tag(:SSN, @resident.ssn) %>
</p>

<p>
  <b><%= label_tag(:DOB, "Date of Birth:") %></b>
  <%= text_field_tag(:DOB, @resident.dob) %>
</p>

<p>
  <b><%= label_tag(:GenderInitial, "Gender:") %></b>
  <%= text_field_tag(:GenderInitial, @resident.gender) %>
</p>

<h3>Applicant's Current Residence</h3>

<p>
  <b><%= label_tag(:MailAddStreet, "Street Address:") %></b>
  <%= text_field_tag(:MailAddStreet, @resident.res_street_address) %>
</p>

<p>
  <b><%= label_tag(:MailAddApt, "Apartment Number:") %></b>
  <%= text_field_tag(:MailAddApt, @resident.res_apt) %>
</p>

<p>
  <b><%= label_tag(:MailAddCity, "City:") %></b>
  <%= text_field_tag(:MailAddCity, @resident.res_city) %>
</p>

<p>
  <b><%= label_tag(:MailAddState, "State:") %></b>
  <%= text_field_tag(:MailAddState, @resident.res_state) %>
</p>

<p>
  <b><%= label_tag(:MailAddZip, "Zip Code:") %></b>
  <%= text_field_tag(:MailAddZip, @resident.res_zip) %>
</p>


  <%= submit_tag "Generate Application" %>
<% end %>

<p>
<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Back', residents_path %>
