<div class="row">
  <div class="col-md-4">
    <h4>Head of Household</h4>
    <%= render 'people/name', builder: f %>
    <%= render "people/contact", builder: f %>
    <%= f.text_field :ssn, label: "Social security number" %>
  </div>

  <div class="col-md-4">
    <h4>Mail Address</h4>
    <%= f.fields_for :mail_address do |m| %>
      <%= render "addresses/fields", builder: m %>
    <% end %>
  </div>

  <div class="col-md-4">
    <h4>Demographic</h4>
    <%= render "people/demographic", builder: f %>
  </div>
</div>
