<h1>Listing residences</h1>

<table>
  <thead>
    <tr>
      <th>Applicant</th>
      <th>Address</th>
      <th>Start</th>
      <th>End</th>
      <th>Reason</th>
      <th>Landlord</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residences.each do |residence| %>
      <tr>
        <td><%= residence.applicant %></td>
        <td><%= residence.address %></td>
        <td><%= residence.start %></td>
        <td><%= residence.end %></td>
        <td><%= residence.reason %></td>
        <td><%= residence.landlord %></td>
        <td><%= link_to 'Show', residence %></td>
        <td><%= link_to 'Edit', edit_residence_path(residence) %></td>
        <td><%= link_to 'Destroy', residence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Residence', new_residence_path %>
