<%= bootstrap_form_for(applicant, remote: true) do |f| %>

  <h2>About you</h2>
  <%= f.fields_for :identity do |builder| %>
    <%= render partial: "person_fields", locals: { builder: builder } %>
    <hr />
  <% end %>
  <%= f.button("Update", { class:"btn btn-default" }) %>

  <h2>Houshold members <small>People who will live with you</small></h2>
  <% applicant.household_members.each.with_index do |hh, index| %>
    <%= f.fields_for :household_members, hh do |builder| %>
      <h3><%= "Household Member #{index + 1}" %></h3>
      <%= render partial: "person_fields", locals: { builder: builder } %>
      <hr />
    <% end %>
  <% end %>
  <%= link_to("Add a household member", new_household_member_path, remote: true) %> <br />
  <hr />
  <%= f.button("Update", { class:"btn btn-default" }) %>

  <h2>Your landlords</h2>
  <% applicant.landlords.each.with_index do |landlord, index| %>
    <%= f.fields_for :landlords, landlord do |builder| %>
      <h3><%= "Landlord #{index + 1}" %></h3>
      <%= render partial: "person_fields", locals: { builder: builder } %>
      <hr />
    <% end %>
  <% end %>
  <%= link_to("Add a landlord", new_landlord_path, remote: true) %> <br />
  <hr />
  <%= f.button("Update", { class:"btn btn-default" }) %>

<% end %>
<hr />

<%= button_to 'Download forms', "/download", { class:"btn btn-default btn-lg" } %>
Remember to proofread the forms for completeness and accuracy after you download them.
