<nav class="wizard-container">
  <ul class="wizard-nav">
    <li>
      <a href="#demographic">Demographic Information
        <div class="check">
          <div class="circle"></div>
        </div>
        <div class="progress-line pull-right"></div>
      </a>
    </li>
    <li>
      <a href="#household">Household Information
        <div class="check">
          <div class="circle"></div>
        </div>
        <div class="progress-line pull-left"></div>
        <div class="progress-line pull-right"></div>
      </a>
    </li>
    <li>
    <a href="#residential-history">Residential History
      <div class="check">
        <div class="circle"></div>
      </div>
      <div class="progress-line pull-left"></div>
      <div class="progress-line pull-right"></div>
    </a>
  </li>
  <li>
    <a href="#income-employment">Income and Employment
      <div class="check">
        <div class="circle"></div>
      </div>
      <div class="progress-line pull-left"></div>
      <div class="progress-line pull-right"></div>
    </a>
  </li>
  <li>
    <a href="#criminal-history">Criminal History
      <div class="check">
        <div class="circle"></div>
      </div>
      <div class="progress-line pull-left"></div>
      <div class="progress-line pull-right"></div>
    </a>
  </li>
  <li>
    <a href="#other">Other Information
      <div class="check">
        <div class="circle"></div>
      </div>
      <div class="progress-line pull-left"></div>
    </a>
  </li>
  </ul>
</nav>
<%= bootstrap_form_for(applicant, remote: true) do |f| %>
  <div id="demographic" class="section hide">
    <h2>About you</h2>
    <%= f.fields_for :identity do |builder| %>
      <%= render partial: "person_fields", locals: { builder: builder } %>
      <hr />
    <% end %>
    <%= f.button("Update", { class:"btn btn-default" }) %>
  </div>
  <div id="household" class="section hide">
    <h2>Houshold members <small>People who will live with you</small></h2>
    <% applicant.household_members.each.with_index do |hh, index| %>
      <%= f.fields_for :household_members, hh do |builder| %>
        <h3><%= "Household Member #{index + 1}" %></h3>
        <%= render partial: "person_fields", locals: { builder: builder } %>
        <hr />
      <% end %>
    <% end %>
    <%= link_to("Add a household member", new_household_member_path, remote: true) %> <br />
    <hr />
    <%= f.button("Update", { class:"btn btn-default" }) %>
  </div>
  <div id="residential-history" class="section hide">
    <h2>Your landlords</h2>
    <% applicant.landlords.each.with_index do |landlord, index| %>
      <%= f.fields_for :landlords, landlord do |builder| %>
        <h3><%= "Landlord #{index + 1}" %></h3>
        <%= render partial: "person_fields", locals: { builder: builder } %>
        <hr />
      <% end %>
    <% end %>
    <%= link_to("Add a landlord", new_landlord_path, remote: true) %> <br />
    <hr />
    <%= f.button("Update", { class:"btn btn-default" }) %>
  </div>
<% end %>
<hr />
<div id="download">
  <%= button_to 'Download forms', "/download", { class:"btn btn-default btn-lg download-forms" } %>
</div>
<div id="download-warning" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3><span class="glyphicon glyphicon-warning-sign"></span>Important!</h3>
        </div>
      <div class="modal-body">
        <div class="well alert-danger">Remember to proofread the forms for completeness and accuracy after you download them. Do not sign the forms as you will need to do so in front of the building management upon submission.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
