<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="<%= 'active' if :identity == active_section %>">
    <%= link_to "Identity", edit_person_path(@current_applicant.identity) %>
  </li>
  <li role="presentation" class="dropdown <%= 'active' if :household_members == active_section %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Household members <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% @current_applicant.household_members_people.each_with_index do |h, index| %>
        <li role="presentation">
          <%= link_to "#{index + 1} - #{h.description}", edit_household_member_path(h) %>
        </li>
      <% end %>
      <li role="presentation">
        <a href="<%= new_household_member_path %>">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        </a>
      </li>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if :residence_history == active_section %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Residence history <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% @current_applicant.residences.each_with_index do |r, index| %>
        <li role="presentation">
          <%= link_to "Residence #{index + 1}", edit_residence_path(r) %>
        </li>
      <% end %>
      <li role="presentation">
        <a href="<%= new_residence_path %>">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        </a>
      </li>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if :income == active_section %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Income <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% @current_applicant.incomes.each_with_index do |i, index| %>
        <li role="presentation">
          <%= link_to "Income #{index + 1}", edit_income_path(i) %>
        </li>
      <% end %>
      <li role="presentation">
        <a href="<%= new_income_path %>">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        </a>
      </li>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if :employment == active_section %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Employment <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% @current_applicant.employments.each_with_index do |e, index| %>
        <li role="presentation">
            <%= link_to "Employment #{index + 1}", edit_employment_path(e) %>
        </li>
      <% end %>
      <li role="presentation">
        <a href="<%= new_employment_path %>">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        </a>
      </li>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if :criminal_history == active_section %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Criminal history <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% @current_applicant.criminal_histories.each_with_index do |c, index| %>
        <li role="presentation">
            <%= link_to "Criminal history #{index + 1}", edit_criminal_history_path(c) %>
        </li>
      <% end %>
      <li role="presentation">
        <a href="<%= new_criminal_history_path %>">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        </a>
      </li>
    </ul>
  </li>
</ul>
