<p>
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="<%= 'active' if :identity == active_section %>">
    <a href="<%= edit_identity_path(@applicant) %>">
      Client
      <span class="badge"><%= @applicant.identity.progress %>%</span>
    </a>
  </li>
  <li role="presentation" class="dropdown <%= 'active' if :household_members == active_section %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Household members <span class="badge"><%= @applicant.household_members.count %></span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <%= render 'collection_tab_content', collection: @applicant.household_members %>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if :residences == active_section %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Residence history <span class="badge"><%= @applicant.residences.count %></span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <%= render 'collection_tab_content', collection: @applicant.residences %>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if :incomes == active_section %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Income <span class="badge"><%= @applicant.incomes.count %></span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <%= render 'collection_tab_content', collection: @applicant.incomes %>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if :employments == active_section %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Employment <span class="badge"><%= @applicant.employments.count %></span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <%= render 'collection_tab_content', collection: @applicant.employments %>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if :criminal_histories == active_section %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Criminal history <span class="badge"><%= @applicant.criminal_histories.count %></span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <%= render 'collection_tab_content', collection: @applicant.criminal_histories %>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if :contacts == active_section %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Contacts <span class="badge"><%= @applicant.contacts.count %></span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <%= render 'collection_tab_content', collection: @applicant.contacts %>
    </ul>
  </li>
</ul>
</p>
