<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "District Housing", root_path, class: 'navbar-brand'%>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li><%= link_to "Housing Locations", housing_forms_path %></li>
          <li><%= link_to "Make a PDF", pdf_guide_path %></li>
          <li><%= link_to "Field Name Dictionary", dictionary_path %></li>

          <% if current_user %>
            <li>
              <a href="<%= root_path %>/">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <%= current_user.email %>
              </a>
            </li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></li>
          <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Create an Account", new_user_registration_path %></li>
          <% end %>

          <% if current_user && current_user.is_admin? %>
            <li><%= link_to "Salesforce", salesforce_index_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>
</div>
