<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "District Housing" %></title>
  <meta name="viewport" content="initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <!--font awesome-->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>

<body <%= "id=landing" if @landing %> >

  <% if @no_sidebar %>
    <div class="logo-image" id="fade-in"><%= image_tag "district-housing-logo-small.png" %></div>
  <% else %>
    <%= render "layouts/navbar" %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

  <%= image_tag "district-housing-logo-small.png", class: "center-block footer-logo" %>
  <%= yield :javascript %>

</body>
</html>
