<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "District Housing" %></title>
  <meta name="viewport" content="initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>

  <%= render "layouts/navbar" %>

  <div class="main-wrapper">

    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <!-- <li class="sidebar-brand"><a href="#">Home</a></li> -->
          <li><a href="#">Dashboard Home</a></li>
          <li><%= link_to "Clients", root_path %></li>
          <li><%= link_to "Housing Locations", housing_forms_path %></li>
      </ul>
    </div>

    <div id="page-dashboard">
      <% if flash[:alert] %>
        <p class="bg-danger"></p>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:alert] %>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <p class="bg-danger"></p>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </div>

  <%= image_tag "district-housing-logo-small.png", class: "center-block footer-logo" %>
  <%= yield :javascript %>

</body>
</html>
