<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "District Housing" %></title>
  <meta name="viewport" content="initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <!--font awesome-->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>

<body>

  <%= render "layouts/navbar" %>

  <div class="container">

    <% if flash[:notice] %>
      <p class="bg-info"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="bg-danger"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>

  </div>

  <%= image_tag "district-housing-logo-small.png", class: "center-block footer-logo" %>
  <%= yield :javascript %>

</body>
</html>
