<%= render 'form_page' %>

<div class="row">
	<div class="col-md-3">
		<%= render 'section_tabs', active_section: @active_section %>
	</div>
	<div class="col-md-9">
		<%= bootstrap_form_for(@model, url: basic_path(@model)) do |f| %>
		<%= render "fields", f: f %>

		<%= render "buttons_save_delete", f: f %>
	</div>
</div>

<% end %>

<% if @model.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@model.errors.count, "error") %> prohibited this criminal_history from being saved:</h2>

    <ul>
    <% @model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
