<h1>Listing criminal_histories</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Crime type</th>
      <th>Description</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @criminal_histories.each do |criminal_history| %>
      <tr>
        <td><%= criminal_history.person_id %></td>
        <td><%= criminal_history.crime_type_id %></td>
        <td><%= criminal_history.description %></td>
        <td><%= criminal_history.year %></td>
        <td><%= link_to 'Show', criminal_history %></td>
        <td><%= link_to 'Edit', edit_criminal_history_path(criminal_history) %></td>
        <td><%= link_to 'Destroy', criminal_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Criminal history', new_criminal_history_path %>
