<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @criminal_history.person_id %>
</p>

<p>
  <strong>Crime type:</strong>
  <%= @criminal_history.crime_type_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @criminal_history.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @criminal_history.year %>
</p>

<%= link_to 'Edit', edit_criminal_history_path(@criminal_history) %> |
<%= link_to 'Back', criminal_histories_path %>
